* {
	font-family: "DejaVu Sans", Tahoma, Verdana, sans-serif;
}

body {
	background: #000;
	color: #fff;
	padding: 0em;
	margin: 0em;
	min-height: 100vh;
	flex-direction: column;
	overflow: hidden;

	display: none;
}

header {
	background: #111;
}

header::after {
	content: "";
	display: block;
	clear: both;
}

header > button {
	width: 8em;
}

header > div {
	position: relative;
	display: inline;
}

main {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.chat {
	background: #555;
	display: flex;
	height: calc(100vh - 3em);
	flex-direction: column;
	flex-grow: 1;
}

.chat > * {
	margin: 1em;
}

.chat > div {
	overflow-y: scroll;
	padding: 0em 1em;
	position: relative;
	flex-grow: 1;
}

.chat time {
	color: #aaa;
	display: block;
	font-size: 0.6em;
}

.chat embed {
	padding-top: 1em;
	width: 20em;
}

.chat .you, .chat .me {
	background: #222;
	position: relative;
	padding: 1em;
	margin: 1em 0em;
	border-radius: 1em;
}


.chat .you > p, .chat .me > p {
	margin-top: 1em;
	margin-bottom: 0em;
	overflow-wrap: break-word;
}

.chat .you::after, .chat .me::after {
	content: "";
	height: 0em;
	width: 0em;
	position: absolute;
	bottom: 0em;
	border: 1em solid transparent;
	border-bottom-color: #222;
}

.chat .you {
	width: 20em;
	margin-left: auto;
	margin-right: 0%;
}

.chat .you::after {
	right: -1em;
}

.chat .me {
	width: 20em;
	margin-left: 0%;
	margin-right: auto;
}

.chat .me::after {
	left: -1em;
}

.chat > input {
	display: block;
}

.history, .contacts {
	background: #555;
	flex-grow: 1;
}

.message {
	height: 4.5em;
	width: 20em;
	border-radius: 1em;
	position: absolute;
	top: 2em;
	right: 8em;
	background: #111;
	text-align: center;
	z-index: 1000;
}

.message::before {
	content: "";
	height: 0em;
	width: 0em;
	position: absolute;
	top: -1em;
	right: 0em;
	border: 1em solid transparent;
	border-right-color: #111;
}

.message input {
	width: 80%;
	margin: 1.5em;
}

.phone {
	height: 32em;
	width: 20em;
	border-radius: 1em;
	position: absolute;
	top: 2em;
	right: 0.5em;
	background: #111;
	text-align: center;
	z-index: 1000;
}

.phone::before {
	content: "";
	height: 0em;
	width: 0em;
	position: absolute;
	top: -1em;
	right: 0em;
	border: 1em solid transparent;
	border-right-color: #111;
}

.phone table {
	width: 100%;
	padding: 1.5em;
}

.phone td {
	position: relative;
	height: 5em;
	width: 5em;
}

.phone td > button {
	position: absolute;
	top: 0.5em;
	left: 0.2em;
	width: 5em;
	height: 4em;
}

.phone td > button.hangup {
	background: #a22;
	padding: 0em 0em;
}

.phone td > button.hangup:hover {
	background: #d55;
}

.phone td > button.dial {
	background: #2a2;
	padding: 0em 0em;
}

.phone td > button.dial:hover {
	background: #5d5;
}

.phone td > button > span {
	display: inline-block;
	position: absolute;
	bottom: 0.1em;
	left: 0em;
	width: 5em;
}

button {
	background: #222;
	color: #fff;
	display: inline-block;
	padding: 1em 2em;
	margin: 0em;
	border: none;
	font-size: 1em;
	text-align: center;
	cursor: pointer;
}

button:hover {
	background: #555;
}

button.active {
	background: #555;
}

button.close {
	background: transparent;
	position: absolute;
	width: 1em;
	height: 1em;
	padding: 0em;
	right: 1em;
	top: 0em;
}

input {
	font-size: 1em;
}

table {
	border-collapse: collapse;
}

table, table td, table tr {
	padding: 0em;
}

table tr:nth-child(odd) {
	background: #555;
}

table tr:nth-child(even) {
	background: #333;
}

table td span {
	padding: 1em 1em;
	white-space: nowrap;
}

table td:nth-child(2) {
	width: 100%;
}

table td button:hover {
	background: #444;
}

table td > button {
	width: 8em;
}

.left {
	float: left;
}

.right {
	float: right;
}
